<ion-header class="MainHeaderBar">
  <ion-toolbar>
    <ion-button slot="start" class="BackBtnTop" >
      <img class="BackArrow" src="assets/icon/left-arrow.svg" />
    </ion-button>
    <ion-title class="MainTitle">My QR Code</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <button (click)="logout()">Logout</button><br>
  <button ion-button (click)="getUserLocation()">Get location</button>
  <h1 >Current user Location is {{userlocation}}
      <div *ngIf="address">
        <span *ngIf="userlocation.countryCode">Country:{{address.countryCode}},</span>
        <span *ngIf="userlocation.postalCode">Postal code: {{address.postalCode}},</span> 
        <span *ngIf="userlocation.administrativeArea">administrativeArea:{{userlocation.administrativeArea}},</span>
        <span *ngIf="userlocation.subAdministrativeArea">subAdministrativeArea:{{userlocation.subAdministrativeArea}},</span>
        <span *ngIf="userlocation.locality">locality:{{userlocation.locality}},</span> 
        <span *ngIf="userlocation.subLocality"> subLocality:{{userlocation.subLocality}},</span>
        <span *ngIf="userlocation.thoroughfare">thoroughfare:{{userlocation.thoroughfare}},</span>
        <span *ngIf="userlocation.subThoroughfare">subThoroughfare:{{userlocation.subThoroughfare}},</span>
        <span *ngIf="userlocation.areasOfInterest">areasOfInterest:{{userlocation.areasOfInterest[0]}}</span>
    </div>
  </h1>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="scanBarcode()">Scan a Code</ion-button>
      <div *ngIf="scannedData">
        <p>
          Scanned Code Text : <b>{{ scannedData["text"] }}</b>
        </p>
      
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>