<ion-header class="MainHeaderBar">
  <ion-toolbar>
    <ion-button slot="start" class="BackBtnTop" >
      <img class="BackArrow" src="assets/icon/left-arrow.svg" />
    </ion-button>
    <ion-title class="MainTitle">My QR Code</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="head">
    <ion-button color="warning" (click)="chckAppGpsPermission()">Get location</ion-button>
    <ion-button (click)="logout()">Logout</ion-button>
  </div> 
  <div class="ion-text-center" *ngIf="address">Current user Location is 
      <div >
        <span *ngIf="address.countryCode">Country:{{address.countryCode}},</span><br>
        <span *ngIf="address.postalCode">Postal code: {{address.postalCode}},</span> <br>
        <span *ngIf="address.administrativeArea">administrativeArea:{{address.administrativeArea}},</span><br>
        <span *ngIf="address.subAdministrativeArea">subAdministrativeArea:{{address.subAdministrativeArea}},</span><br>
        <span *ngIf="address.locality">locality:{{address.locality}},</span><br>
        <span *ngIf="address.subLocality"> subLocality:{{address.subLocality}},</span><br>
        <span *ngIf="address.thoroughfare">thoroughfare:{{address.thoroughfare}},</span><br>
        <span *ngIf="address.subThoroughfare">subThoroughfare:{{address.subThoroughfare}},</span><br>
        <span *ngIf="address.areasOfInterest">areasOfInterest:{{address.areasOfInterest[0]}}</span><br>
    </div>
  </div>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" class="ThemeBtnLogin"  (click)="scanBarcode()">Scan a Code</ion-button>
      <div *ngIf="scannedData">
        <p>
          Scanned Code Text : <b>{{ scannedData["text"] }}</b>
        </p>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>