<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="scanBarcode()">Scan a Code</ion-button>
      <div *ngIf="scannedData">
        <p>
          Scanned Code Text : <b>{{ scannedData["text"] }}</b>
        </p>
      
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>